.dropdown-content {
    max-height: 13em;
    overflow: auto;
  }

.logo {
    padding-top: 1.2em;
    padding-left: 1.2em;
    width: 15em;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.main-content {
    text-align: center;
}

.navbar {
    text-align: center;
    display: block;
    width: 100%;
  }

.navbar > .navbar-item,
.navbar .navbar-brand .navbar-link {
  display: inline-block;
}

.logo-landing {
    padding: 1em;
}
