.dropdown-content {
    max-height: 13em;
    overflow: auto;
  }

/* @import url("https://use.typekit.net/lca5fxz.css");
* {
    background-color: rgb(255, 252, 240);
    font-family: work-sans, sans-serif;
    text-align: center;
}

h1 {
    font-size: 2.5em;
}
.dropdown-content {
  max-height: 13em;
  overflow: auto;
}
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#email {
    height: 2em;
    width: 25em;
    padding: 0.5em;
    margin-bottom: 0.3em;
    border-style: solid;
    border-color: black;
    text-align: left;
}

#submit-btn {
    margin-left: 0.2em;
    height: 3.2em;
    width: 8em;
    border-style: solid;
    border-width: 2px;
    border-color: black;
} */
